
body {
  font-family: Helvetica, Sans-Serif;
  color: #444444;
  font-size: 12pt;
  background-color: #FAFAFA;
}

button  {
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.topbutton  {
  background-color: white; /* Green */
  border: none;
  font-size: 20px;
  color: green;
}

.topbutton:hover{
  color: #fcba03;
}

br { /* format space for breaks */
  display: block;
  content: "";
  margin-top: 0;
}

#rankList {
  list-style-type: none;
  width: 40%;
}

#rankList li { 
  margin: 0 3px 3px 3px;
  padding: 0.6em;
  height: 15px;
  text-align: center;
  font-weight: bold;

}

#rankList li:hover {
  color: red;
}

#menuContainer h2 {
  text-align: center
}

#ArticleContainer {
  width: 60%;
  height: 150%;
  float: left;
  position: relative;
}

.link {
  margin: 5px;
  position: absolute;
  bottom: 0px;
}

#previousArticle {
  left: 0%;
}

#nextArticle {
  right: 0%;
}
